<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FitFix</title>
    <link rel="stylesheet" href="/css/ffcss.css" />
  </head>
  <body>
    <ul class="header">
      <a href="/"
        ><img
          src="/images/Brand_initial_Simple_Logo-removebg-preview.png"
          alt="Logo"
      /></a>
    </ul>
    <ul class="flex-container">
      <ul class="flex-item">
        <a href="/collection">Collection</a>
      </ul>
      <ul class="flex-item">
        <a href="/baf">Build A Fit!</a>
      </ul>
    </ul>
    <h2>Your Built Fit!</h2>
    <ul class="buildFit">
      <img src="<%= top  %>" alt="" id="top" />
      <img src="<%= bottom %>" alt="" id="bottom" />
      <img src="<%= shoe %>" alt="" id="shoe" />
    </ul>
  </body>
</html>
