<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FitFix</title>
    <link rel="stylesheet" href="/css/ffcss.css" />
  </head>
  <body>
    <ul class="header">
      <a href="/"
        ><img
          src="/images/Brand_initial_Simple_Logo-removebg-preview.png"
          alt="Logo"
      /></a>
    </ul>

    <ul class="flex-container">
      <ul class="flex-item">
        <a href="/collection">Collection</a>
      </ul>

      <ul class="flex-item">
        <a href="/baf">Build A Fit!</a>
      </ul>
    </ul>

    <h2>Tops</h2>
    <ul class="clothesCollection">
      <ul class="clothes">
        <form action="/collection" method="POST">
          <img src="/images/s1.jpeg" id="top1" value="top" />

          <button name="button" value="top1">Submit</button>
        </form>
      </ul>
    </ul>

    <h2>Bottoms</h2>
    <ul class="clothesCollection">
      <ul class="clothes">
        <form action="/collection" method="POST">
          <img src="/images/sp1.jpeg" id="bottom1" value="bottom" />
          <button name="button" value="bottom1">Submit</button>
        </form>
      </ul>
      <ul class="clothes">
        <form action="/collection" method="POST">
          <img src="/images/sp2.jpeg" id="bottom2" value="bottom" />
          <button name="button" value="bottom2">Submit</button>
        </form>
      </ul>
    </ul>

    <h2>Shoes</h2>
    <ul class="clothesCollection">
      <ul class="clothes">
        <form action="/collection" method="POST">
          <img src="/images/j42.jpeg" id="shoe1" value="shoe" />
          <button name="button" value="shoe1">Submit</button>
        </form>
      </ul>
    </ul>
  </body>
</html>
