<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FitFix</title>
    <link rel="stylesheet" href="/css/ffcss.css" />
  </head>
  <body>
    <ul class="header">
      <a href="/"
        ><img
          src="/images/Brand_initial_Simple_Logo-removebg-preview.png"
          alt="Logo"
      /></a>
    </ul>
    <ul class="flex-container">
      <ul class="flex-item">
        <a href="/collection">Collection</a>
      </ul>
      <ul class="flex-item">
        <a href="/baf">Build A Fit!</a>
      </ul>
    </ul>
    <h2>Welcome to FitFix!</h2>
    <p>
      To see the current collection of clothes in your closet, press collection!
    </p>
    <p>To see the fit you have built, press Build A Fit!</p>
  </body>
</html>
